body {
    font-family: "Verdana";
    font-size: 16px;
    margin: 0;
    background: #424242;
    color: #e0e0e0;
    text-shadow: 1px 1px 3px black;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 18px;
}

.body img.header {
    filter:brightness(50%);
    width: 75%;
    height: auto;
}

.foot {
    text-align: center;
    background: #616161;
    padding: 24px;
    margin-top: 64px;
    top: 0;
    height: 70px;
}

.foot a:link {
    /* color: #f44336; */ /* more smooth */
    color: red;
    text-decoration: none;
}

/* visited link */
.foot a:visited {
    text-decoration: none;
    color: #9c27b0;
}

/* mouse over link */
.foot a:hover {
    text-decoration: underline;
}

/* selected link */
.foot a:active {
    text-decoration: underline;
    color: #9c27b0;
}

.body {
    padding: 20px;
    font-family: "Arial";
    margin-top: 60px;
    text-align: justify;
}

.body a:link {
    /* color: #f44336; */ /* more smooth */
    color: red;
    text-decoration: none;
}

/* visited link */
.body a:visited {
    text-decoration: none;
    color: #9c27b0;
}

/* mouse over link */
.body a:hover {
    text-decoration: underline;
}

/* selected link */
.body a:active {
    text-decoration: underline;
    color: #9c27b0;
}

.body img {
    width: 30%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-right: 25px;
}

div.mbleft {
    border-style: solid;
    padding: 20px;
    margin-left: 20px;
    margin-right: 75%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.mbright {
    border-style: solid;
    padding: 20px;
    margin-left: 75%;
    margin-right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1, h2, h3 {
    color: white;
    text-shadow: 1px 1px 5px black;
}

table {
    border-collapse: collapse;
    width: 50%;
    text-shadow: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #eeeeee;
    color: black;
}

th {
    background-color: red;
    color: white;
}

.menu1 {
    /* background: #f44336; */ /* more smooth */
    background: red;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.menu {
    display: inline;
}

.header1 {
    color: silver;
    text-decoration: none;
    position: absolute;
    top: 22px;
    left: 40px;
}

.header2 {
    color: silver;
    text-decoration: none;
    position: absolute;
    top: 22px;
    left: 190px;
}

.header3 {
    color: silver;
    text-decoration: none;
    position: absolute;
    top: 22px;
    left: 345px;
}

.submenu {
    /* background: #f44336; */ /* more smooth */
    background: red;
    display: none;
    position: fixed;
    left: 292px;
    top: 70px;
    font-size: 18px;
    height: 148px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
}

a.minecraft {
    color: silver;
    text-decoration: none;
    position: fixed;
    top: 97px;
    left: 325px;
}

a.quake2 {
    color: silver;
    text-decoration: none;
    position: fixed;
    top: 170px;
    left: 330px;
}

canvas {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

iframe {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 25px;
}

.clock {
    float: right;
    margin-top: 12.5px;
    margin-right: 10px;
}